* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
  } 

header {
    background-color: #1f2937;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 200px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    display: flex;
    gap: 30px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.body-container {
    display: flex;
    flex-direction: column;
}

.container-one {
    display: flex;
    background-color: #1f2937;
    color: white;
    padding: 100px 200px;
    gap: 35px;
}

.one-left {
    flex: 1;
    color: #f9faf8;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight:bolder;
    margin-bottom: 0;
}

.one-left p {
    margin-top: 0;
    margin-bottom: 10px;
}
.one-left button {
    background: #3882f6;
    border-radius: 7px;
    border: none;
    color: white;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 15px;
}


.one-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(95, 115, 126);
}

.container-two {
    display: flex;
    flex-direction: column;
    padding: 35px 100px;
}

.two-top {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#1f2937;
    font-size: 22px;
}

.two-bottom {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 20px 180px;
}

.two-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.illustration {
    height: 140px;
    width: 140px;
    border-radius: 20px;
    background-color:#3882f6;
}

.subtext {
    max-width: 140px;;
    color:#1f2937;
    font-size: 14px;
}

.container-three {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 70px 350px;
    gap: 10px;
}

.three-top {
    font-size: 36px;
    font-style:italic;
    font-weight:200;
}

.three-bottom {
    display: flex;
    margin-left: auto;
    font-size: 20px;
    font-style: none;
    font-weight: bold;
}

.ads {
    display: flex;
    background-color: #3882f6;
    width:800px;
    height: 125px;
    border-radius: 9px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 70px;
    padding-right: 70px;
}

.ads-left {
    color: white;
}


.ads-right button {
    border-radius: 7px;
    background-color:#3882f6;
    border-color:white;
    border-style:ridge;
    color: white;
    padding: 5px 15px;
    font-size: 15px;
}

footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}